{% extends 'base.html' %}

{% load humanize %}

{% block title %} | {{ realtor.name }} {% endblock %}

{% block content %}
    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">{{ realtor.name }}</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'listings' %}">Realtors</a>
                    </li>
                    <li class="breadcrumb-item active">{{ realtor.name }}</li>
                </ol>
            </nav>
        </div>
    </section>

    <!-- Alert -->
    {% include 'partials/_alerts.html' %}
    <!-- Listing -->
    <section id="listing" class="py-4">
        <div class="container">
            <a href="{% url 'list' %}" class="btn btn-light mb-4">Back To Realtor List</a>
            <div class="row">
                <div class="col-md-8">
                    <!-- Fields -->
                    <div id="realtor-info">
                        <div class="row mb-5 fields">
                            <div class="col-md-12">
                                <p class="text-secondary">{{ realtor.description }}</p>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item text-secondary">
                                        <i class="fas fa-phone"></i> Phone:
                                        <span class="float-right">(+1) {{ realtor.phone }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item text-secondary">
                                        <i class="fas fa-envelope"></i> Email:
                                        <span class="float-right">{{ realtor.email }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="realtor-listings">
                        <div class="row mb-5 fields">
                            <div class="col-md-12">
                                <h4 class="text-primary">Selected Listing</h4>
                            </div>
                            {% if listings %}
                                {% for house in listings %}
                                    {% include 'partials/_horizontalListingCard.html' %}
                                {% endfor %}
                            {% else %}
                                Not servicing any house currently.
                            {% endif %}
                        </div>
                    </div>
                    <div id="realtor-ratings">
                        <div class="row mb-5 fields">
                            <div class="col-md-12">
                                <h4 class="text-primary">Customer Ratings to {{ realtor.name }}
                                    {% if user.is_authenticated  %}
                                        <button class="btn btn-secondary" style="float: right;" data-toggle="modal" data-target="#ratingModal">
                                            Post Rating
                                        </button>
                                    {% endif %}
                                </h4>
                            </div>
                            <div class="col-md-12">
                                <p class="text-secondary">Total {{ total }} ratings. Average rating: {{ avg }} / 5</p>
                            </div>
                            {% if ratings %}
                                {% for rating in ratings %}
                                    {% include 'partials/_ratingCard.html' %}
                                {% endfor %}
                            {% else %}
                                Not Rating for this realtor now 🙃.
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div style="position: sticky; top: 80px;">
                        <div class="card mb-3">
                            <img class="card-img-top" src="{{ realtor.photo.url }}" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Property Realtor</h5>
                                <h6 class="text-secondary">{{ listing.realtor }}</h6>
                            </div>
                        </div>
                        <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">
                            Make An Inquiry
                        </button>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Inquiry Modal -->
    <div class="modal fade" id="inquiryModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'contact' %}" method="POST">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                            <input type="hidden" name="user_id" value="{{ user.id }}"/>
                        {% else %}
                            <input type="hidden" name="user_id" value="0"/>
                        {% endif %}
                        <input type="hidden" name="realtor_email" value="{{ listing.realtor.email }}"/>
                        <input type="hidden" name="listing_id" value="{{ listing.id }}"/>
                        <div class="form-group">
                            <label for="property_name" class="col-form-label">Property:</label>
                            <input type="text" name="listing" class="form-control" value="{{ listing.title }}">
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" name="name" class="form-control" required
                                   {% if user.is_authenticated %}value="{{ user.first_name }} {{ user.last_name }}"{% endif %}>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-form-label">Email:</label>
                            <input type="email" name="email" class="form-control" required
                                   {% if user.is_authenticated %}value="{{ user.email }}"{% endif %}>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-form-label">Phone:</label>
                            <input type="text" name="phone" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="message" class="col-form-label">Message:</label>
                            <textarea name="message" class="form-control"></textarea>
                        </div>
                        <hr>
                        <input type="submit" value="Send" class="btn btn-block btn-secondary">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Rating Modal -->
    <div class="modal fade" id="ratingModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inquiryModalLabel">Add new rating to {{ realtor.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'add' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value="{{ user.id }}"/>
                        <input type="hidden" name="realtor_id" value="{{ realtor.id }}"/>

                        <div class="form-group">
                            <label for="score" class="col-form-label">Score:</label>
                            <input type="text" name="score" class="form-control" placeholder="Enter an integer in 1 ~ 5">
                        </div>

                        <div class="form-group">
                            <label for="comment" class="col-form-label">Comment:</label>
                            <textarea name="comment" class="form-control" rows="10" placeholder="Leave your comment here to help him do better 😀!"></textarea>
                        </div>

                        <hr>

                        <input type="submit" value="Submit" class="btn btn-block btn-secondary">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}