*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 75%;
}

body {
    font-family: "Nunito", sans-serif;
    color: #6D5D4B;
    font-weight: 300;
    line-height: 1.6;
}

.btn-secondary {
    color: #fff !important;
}

img {
    width: 100%;
}

.logo {
    width: 80px;
}

.navbar {
    opacity: 0.9;
    text-transform: capitalize;
}

.social a {
    margin-right: 0.4rem;
}

.btn {
    background-color: #c69963;
    color: #fff;
    border: none;
    border-radius: 0;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 10px 12px;
    cursor: pointer;
    transition: all .2s;
}

.btn:hover {
    background-color: #B28451;
}

.btn:focus {
    outline: none;
}

.home {
    background-color: #f9f7f6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3.5rem;
}

.home__img {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
}

.home__name {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    align-self: end;
    justify-self: center;
    transform: translateY(50%);
    z-index: 3;
    width: 80%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #101d2c;
    color: white;
    font-weight: 400;
}

.home__location, .home__rooms {
    margin-top: 2.5rem;
}

.home__location, .home__rooms, .home__area, .home__price {
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

.home__p {
    margin-bottom: 0;
    margin-left: 10px;
}

.home__btn {
    grid-column: 1 / -1;
}

#register, #login {
    background: url(../img/showcase.jpg) no-repeat top center fixed;
}

#showcase {
    background: url(../img/showcase.jpg) no-repeat top center fixed;
    position: relative;
    min-height: 300px;
    color: #fff;
    padding-top: 5rem;
}

#showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px;
}

#showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
    width: 100%;
    background: rgba(51, 51, 51, 0.8);
}

#services {
    background: url(../img/building.jpg) no-repeat top center fixed;
    min-height: 300px;
    position: relative;
    overflow: hidden;
}

#services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    /*background: rgba(51, 51, 51, 0.6); */
}

#showcase-inner {
    background: url(../img/building.jpg) no-repeat top center fixed;
    position: relative;
    overflow: hidden;
    min-height: 200px;
}

#showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    /*background: rgba(51, 51, 51, 0.6);*/
}

#showcase-inner.showcase-search {
    min-height: 270px;
}

#work {
    padding: 6rem 0;
}

.listing-preview a {
    position: relative;
}

@media (max-width: 991px) {
    #showcase {
        padding-top: 30px;
    }

    #showcase h1 {
        font-size: 40px;
    }

    .hide-md-down {
        display: none;
    }
}

@media (max-width: 768px) {
    #showcase {
        padding-top: 1rem;
    }

    #showcase h1 {
        font-size: 40px;
    }

    #showcase p {
        display: none;
    }

    #top-bar {
        text-align: center;
    }

    #top-bar .social {
        text-align: center !important;
    }
}

@media (max-width: 576px) {
    #showcase h1 {
        font-size: 30px;
    }

    #showcase-inner h1 {
        font-size: 40px;
    }
}
