<!-- Listing 1 -->
{% load static %}
{% load humanize %}
<div class="col-md-6 col-lg-4 mb-4">
    <div class="home">
        <img class="home__img" src="{{ listing.photo_main.url }}" alt="">
        <h5 class="home__name">{{ listing.title }}</h5>

        <div class="home__location">
            <i class="fas fa-map"></i>
            <p class="home__p">{{ listing.city }}</p>
        </div>

        <div class="home__rooms">
            <i class="fas fa-bed"></i>
            <p class="home__p">{{ listing.bedrooms }} rooms</p>
        </div>
        <div class="home__area">
            <i class="fas fa-th-large"></i>
            <p class="home__p">{{ listing.sqft }} m<sup>2</sup></p>
        </div>
        <div class="home__price">
            <i class="fas fa-money-bill-alt"></i>
            <p class="home__p">$ {{ listing.price }}</p>
        </div>

        <a href="{% url 'listing' listing.id %}" class="btn home__btn">More Info</a>
    </div>
</div>